.public-DraftStyleDefault-block {
  margin-bottom: 16px;
}

.RichEditor-h1 {
  display: inline-block;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  margin: 0;
  padding: 0;
  white-space: normal;
  width: 100%;
}

.RichEditor-h2 {
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  margin: 0;
  padding: 0;
  white-space: normal;
  width: 100%;
}

.RichEditor-p {
  box-sizing: border-box;
  color: #241f3a;
  display: inline;
  font-family: CharterBT;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  margin: 0;
  padding: 0;
  white-space: normal;
}

.RichEditor-ordered-list-item {
  list-style-type: lower-alpha;
}

.RichEditor-unordered-list-item {
  list-style-type: circle;
}

@media only screen and (max-width: 967px) {
  .RichEditor-p {
    font-size: 14px;
  }
}

.RichEditor-italic {
  display: inline;
  font-style: italic;
}

.ck.ck-user__img.ck-user__avatar {
}

.ck-read-only {
  padding: 0;
}

.post-body .ck-content {
  border: none !important;
  line-height: 24px;
  word-break: break-word;
  padding: 0 !important;
}

.post-body .ck-content h1,
h2,
h3 {
  line-height: normal;
}

.post-body .ck-content a {
  text-decoration: none;
}

.post-body .ck-content a:hover {
  text-decoration: underline;
}

.post-body .ck-read-only p:last-child {
  margin-bottom: 0;
}

/* .editing .ck.ck-editor__editable_inline {
  border: 1px solid #cccccc;
} */

.post-body .editing .ck-content.ck-editor__editable {
  border: 1px solid #cccccc !important;
  padding: 20px !important;
}

.post-body .ck-content.ck-editor__editable:not(.ck-read-only) p:first-child {
  margin-top: 0 !important;
}

.post-body h1 {
  display: none !important;
}

.post-body h1 br,
.post-body h2 br,
.post-body h3 br,
.post-body h4 br {
  display: none;
}

.post-body *[data-placeholder] {
  display: none;
}

.post-body .ck.ck-editor__editable_inline > :first-child {
  margin-top: 0;
}
