.ltx_page_main .ltx_abstract {
  border: 1px solid #666;
  padding: 16px;
  margin-bottom: 2em;
  font-family: "Computer Modern Serif", Georgia, serif;
  font-size: 16px !important;
  line-height: 1.5;
}
