.public-DraftStyleDefault-block {
  margin-bottom: 16px;
}

.RichEditor-h1 {
  display: inline-block;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  margin: 0;
  padding: 0;
  white-space: normal;
  width: 100%;
}

.RichEditor-h2 {
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  margin: 0;
  padding: 0;
  white-space: normal;
  width: 100%;
}

.RichEditor-p {
  box-sizing: border-box;
  color: rgb(36, 31, 58);
  display: inline;
  font-family: CharterBT;
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  margin: 0;
  padding: 0;
  white-space: normal;
}

.RichEditor-inline-comment {
  background-color: rgb(204 243 221);
  box-sizing: inherit;
  color: inherit;
  display: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  white-space: inherit;
}

@media only screen and (max-width: 967px) {
  .RichEditor-p {
    font-size: 14px;
  }
}

.RichEditor-italic {
  display: inline;
  font-style: italic;
}
