.ql-container {
  border: none !important;
}
.ql-editor.ql-blank::before {
  content: none;
}

.ql-editor.ql-blank::after {
  color: rgb(124, 121, 137);
  content: attr(data-placeholder);
  pointer-events: none;
  display: none;
  margin-top: -1.42rem;
  font-size: 16px;
}

.ql-editor {
  /* cursor: text; */
  padding: 0;
  font-family: "Roboto";
  font-size: 16px;
}

.toolbar {
  background: #ffffff;
}

.ql-disabled {
  cursor: "default";
}

.ql-disabled .ql-editor {
  font-size: 16px;
  line-height: 26px;
}
@media only screen and (max-width: 767px) {
  .ql-disabled .ql-editor {
    font-size: 15px;
    line-height: 23px;
  }
}

.ql-toolbar {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  /* max-height: 70px; */
}

.ql-formats {
  border-spacing: 0px !important;
  margin-right: 0;
}

.ql-snow.ql-toolbar:after {
  display: block !important;
}

.ql-syntax {
  background-color: #f7f7f7 !important;
  border: 1px solid #d5d5d5;
  color: rgb(0, 0, 0) !important;
}

.ql-clipboard {
  position: relative;
}

.ql-tooltip {
  /* top: -15px !important;
  left: unset !important;
  right: -15px !important;
  transform: unset !important; */
  z-index: 10;
}
.ql-tooltip[data-mode="video"] {
  left: 0 !important;
}

.ql-editor > p {
  font-size: inherit;
  color: inherit;
}

.ql-editor * {
  background-color: unset !important;
}

.ql-editor > p > img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 100%;
  max-height: 600px;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

.ql-editor > p > video {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 100%;
  max-height: 600px;
}

.ql-editor > blockquote {
  color: #656565;
  font-style: italic;
}

.ql-video {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 300px;
  width: 600px;
  max-width: 100%;
}

@media only screen and (max-width: 767px) {
  .ql-video {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 200px;
    width: 400px;
  }
}

@media only screen and (max-width: 415px) {
  /* .ql-editor { */
  /* font-size: 12px; */
  /* } */
  .ql-video {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 150px;
    width: 300px;
  }
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6,
.ql-editor strong {
  font-size: 16px !important;
  font-weight: 600;
  line-height: unset;
}

.ql-editor ul,
.ql-editor ol {
  font-size: 16px;
  padding-left: 0;
}

.ql-full-editor {
  display: none;
  bottom: 60px;
  position: absolute;
  box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%), 0px 2px 4px -1px rgb(0 0 0 / 20%);
  padding: 4px;
  z-index: 2;
  background: white;
}
.ql-full-editor-visible {
  display: block;
}

.ql-formats > button {
  color: rgb(124, 121, 137);
  font-size: 16px !important;
  height: 25px !important;
  width: 25px !important;
  margin-right: 3px !important;
  padding: 2px 2px !important;
}
.ql-formats > button.ql-blockquote {
  margin-left: -5px;
}

.ql-video {
  margin-left: 4px;
}
.show-full-editor {
  margin-left: 3px;
  display: inline-flex !important;
  align-items: center;
  color: black;
}

/* .video-stream {
  height: 250px;
  width: 400px;
} */

.ql-toolbar {
  background: white;
}
.ql-toolbar.ql-snow {
  border: 0 !important;
  padding-left: 0;
  padding-top: 13px;
  display: flex;
}

.ql-review-category {
  display: flex;
}

.ql-review-category-label {
  font-size: 16px;
  font-weight: 600;
}

.ql-review-category-rating {
  margin-left: auto;
}

.ql-peer-review-rating-block {
  white-space: normal;
}

.quill .ql-editor[contenteditable="false"] .ql-peer-review-rating-block {
  margin-bottom: 7px;
}

.ql-review-category-placeholder {
  color: rgb(124, 121, 137);
}

.ql-snow .ql-stroke {
  stroke: rgb(124, 121, 137);
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: rgb(124, 121, 137);
}

.ql-snow .ql-editor a {
  color: rgb(57, 113, 255) !important;
}

.ql-up {
  font-size: 10px;
  margin-left: 5px;
}

.quill .ql-editor[contenteditable="false"] .starRating {
  cursor: initial !important;
}

.quill .ql-editor[contenteditable="true"] {
  min-height: 5em;
}
button.ql-active {
  background-color: rgba(32, 33, 36, 0.122) !important;
  border: none !important;
  box-shadow: none !important;
  opacity: 1 !important;
  transform: scale(1) !important;
  border-radius: 3px !important;
  color: black !important;
}

.ql-active .ql-stroke {
  stroke: black !important;
}

.ql-active .ql-fill {
  fill: black !important;
}

.ql-toolbar button:hover {
  color: black !important;
}
.ql-toolbar button:hover .ql-stroke {
  stroke: black !important;
}

.ql-toolbar button:hover .ql-fill {
  fill: black !important;
}

/* .ql-toolbar button:hover .ql-fill {
  stroke: black !important;
} */

.ql-editor pre {
  background: #f0f0f0 !important;
}
