input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  color: rgba(78, 83, 255) !important;
  background-color: #edeefe !important;
}

/* .rscInput::-webkit-inner-spin-button, 
.rscInput::-webkit-outer-spin-button {  
   opacity: 1;
} */
