# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
**/cypress/videos
**/cypress/screenshots

# production
/build
/dist
/.next

# misc
.DS_Store
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.patch
.vscode/
.sentryclirc
sentry.properties

# Elastic Beanstalk / deployment Files 
Dockerfile
Dockerrun.aws.json.production
Dockerrun.aws.json.staging
Dockerfile.staging.off
Dockerrun.aws.json
# .elasticbeanstalk
# .elasticbeanstalk/*
# !.elasticbeanstalk/*.cfg.yml
# !.elasticbeanstalk/*.global.yml
# .ebextensions
# .ebextensions/*

# lint
.eslintcache
.eslintcache/*
.vercel