.react-tagsinput {
  background-color: var(--ICY_GREY);
  /* Update these for dark mode */
  border: 1px solid var(--LIGHT_GREYISH_BLUE);
  /* overflow: scroll; */
  padding-left: 15px;
  padding-top: 5px;
  width: calc(100% - 15px);
  min-height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: var(--DARKER_GREY119);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  min-height: 48px;
  min-width: 200px;
  max-width: 600px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.react-tagsinput:hover {
  border-color: var(--GRAY179);
}

.react-tagsinput--focused {
  border-color: var(--BRIGHT_BLUE3);
}

.react-tagsinput--focused:hover {
  border-color: var(--BRIGHT_BLUE3);
  box-shadow: 0px 0px 1px 1px var(--BRIGHT_BLUE3);
  cursor: text;
}

.react-tagsinput--focused:hover .react-tagsinput-input {
  cursor: text;
}

.react-tagsinput-tag {
  background-color: var(--VERY_LIGHT_GREY3);
  border-radius: 2px;
  border: 1px solid var(--LIGHT_GRAYISH_BLUE6);
  color: var(--PURE_BLACK);
  display: inline-block;
  font-family: Roboto;
  font-size: 14x;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 3px;
  padding-left: 6px;
  user-select: none;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
}

.react-tagsinput-remove:hover {
  color: var(--STRONG_RED);
}

@media only screen and (max-width: 557px) {
  .react-tagsinput-input {
    font-size: 14px;
  }
  .react-tagsinput-tag {
    font-size: 10px;
  }
}
