.react-tagsinput {
  background-color: rgb(251, 251, 253);
  border: 1px solid rgb(232, 232, 242);
  padding-left: 15px;
  padding-top: 5px;
  width: calc(100% - 15px);
  min-height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  min-height: 48px;
  min-width: 200px;
  max-width: 600px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.react-tagsinput:hover {
  border-color: #b3b3b3;
}

.react-tagsinput--focused {
  border-color: #3f85f7;
}

.react-tagsinput--focused:hover {
  border-color: #3f85f7;
  box-shadow: 0px 0px 1px 1px #3f85f7;
  cursor: text;
}

.react-tagsinput--focused:hover .react-tagsinput-input {
  cursor: text;
}

.react-tagsinput-tag {
  background-color: hsl(0, 0%, 90%);
  border-radius: 2px;
  border: 1px solid #d2d2e6;
  color: #000000;
  display: inline-block;
  font-family: Roboto;
  font-size: 14x;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 3px;
  padding-left: 6px;
  user-select: none;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
}

.react-tagsinput-remove:hover {
  color: #cd4424;
}

@media only screen and (max-width: 557px) {
  .react-tagsinput-input {
    font-size: 14px;
  }
  .react-tagsinput-tag {
    font-size: 10px;
  }
}
