.react-toggle.react-toggle--checked .react-toggle-track {
  background-color: var(--BLUE) !important;
}

.react-toggle.react-toggle--checked .react-toggle-track:hover {
  background-color: var(--BLUE0_7) !important;
}

.react-toggle.react-toggle--checked .react-toggle-thumb {
  border-color: var(--BLUE);
}
